<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AJ Building Contractors LTD</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <section class="SectionOne">
      <!--Header--!>
    </section>

    <section class="SectionTwo">
      <!--Services--!>
    </section>

    <section class="SectionThree">
      <!--Why us?--!>
    </section>

    <section class="SectionFour">
      <!--Contact--!>
    </section>

    <section class="SectionFive">
      <!--Reviews--!>
    </section>

    <section class="SectionSix">
      <!--Footer--!>
    </section>

  </body>
</html>
