<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AJ Building Contractors LTD</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="assets/js/main/main.js"></script>
  </head>
  <body>

<!-- Navbar Start-->
    <div class="NavbarStyle">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">AJ Contractors Building</a>
                <button class="navbar-toggler" type="button" name="button" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav" style="margin-left:50px;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" style="color:#b59972; font-weight: bold;" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Reviews</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social-style2">
                <a href="#"><img src="assets/img/icon/social/twitter.svg" width="24px" class="social-style" alt=""></a>
                <a href="#"><img src="assets/img/icon/social/facebook.svg" width="24px" class="social-style" alt=""></a>
                <a href="#"><img src="assets/img/icon/social/instagram.svg" width="24px" class="social-style" alt=""></a>
                <a href="#"><img src="assets/img/icon/social/linkedin.svg" width="24px" class="social-style" alt=""></a>
            </div>
        </nav>
    </div>
<!-- Navbar End-->

<!--Header Start-->
<div class="container-fluid Layout-Header-Image">

        <div class="row align-items-center">

          <div class="col-lg-1" style="margin:auto; width:auto;">
            <h1 class="Layout-Header-Text">Review</h1>
          </div>

        </div>

</div>
<!--Header End-->

<!-- Body Start -->

<div class="container Layout-Body-Style" style="margin-bottom:0px !important;padding-bottom:4% !important;">




        <div class="row">

          <div class="col-lg-12">
            <h3 class="Title-Style" style="">We are here to listen</h3>
            <p class="Text-Style">Tell us your opinion about our team performance, this will help to find out how we can serve to our customers. We will notice all reviews and display some reviews in our website.</p>
          </div>

        </div>

        <form action="index.html" method="post">

          <div class="row">

              <div class="col-lg-6">
                <input type="text" placeholder="Full name" class="contact-input-style" name="" value="">
              </div>

              <!-- <div class="col-lg-6">
                <input type="file" class="form-control" style="height: 50px!important; margin-top: 3vh;" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
              </div> -->
              <div class="col-lg-6"style="position:relative;">
                <label for="FileUpload" class="contact-input-style"style="display:block;position:absolute;width:95%;">Drop your file here</label>
                <input
                   type="file" class="contact-input-style" name="" value="" style="

                      z-index: -1;
                      float:left;
                      width: 100%;
                      height: 50px;
                      padding: 10px;
                      margin-top: 3vh;
                      border-width: 1px;
                      border-radius: 3px;
                      border-style: solid;
                      border-color: #dddddd;
                      opacity: 0;

                  ">
              </div>


            </div>

          <div class="row">

              <div class="col-lg-12">
                <textarea type="text" placeholder="Message" class="contact-input-style" name="" value="" style="height: 200px;"></textarea>
              </div>

            </div>

          <div class="row">
            <div class="col-lg-12" style="text-align: center;">
                <button type="button" class="btn-primarys btns" name="button">Send</button>
              </div>
          </div>

        </form>

      <!-- <div class="PlaceForForm">

              <form action="">

                <input type="text" id="" name="firstname" placeholder="Full name">
                <textarea name="name" rows="" cols=""></textarea>
                <input type="file" value="Submit">
                <input type="submit" value="Submit">

            </form>

      </div> -->

  </div>
  <div class="container">
      <div class="row" >



          <div class="card mb-0 card-Style" style="margin-top:0px !important;margin-bottom:4% !important; padding-left:15% !important;padding-right:15% !important">
              <div class="row g-0 align-items-center">
                  <div class="col-md-3" style="">
                      @{
                          var base64 = Convert.ToBase64String(Model.Picture);
                          var RevPic = string.Format("data:image/jpg;base64,{0}",base64);
                      }
                      <img src="@RevPic" width="180px" height="180px" class="" style="margin: auto; border: 10px solid #625321;" alt="@Model.Name">


                  </div>
                  <div class="col-md-9" style="padding-left:10%; padding-right:20%;">
                      <div class="card-body">
                          <h4 class="card-title review-title">@Model.Name</h4>
                          <p class="card-text">@Model.Message</p>
                          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      </div>
                  </div>
              </div>
          </div>

          <!--
          <div class="col-lg-2">

              <img src="assets/img/reviewpic.jpg" alt="">

          </div>
          <div class="col-lg-10">
            <div class="S5-Rectangle-Style">
              <p class="S5-Text-Style">On a personal note, I’d just like to say that myself and everyone here at AAR ipressed with the way AJ Building Contractors Ltd act as a freight company.</p>
              <h2>Lisa</h2>
            </div>
          </div> -->



      </div>
  </div>
</div>

<!-- Body End -->

<!-- Footer -->
<section class="section-style-footer">
     <div class="container-fluid">

       <div class="row footer-row-style">
         <div class="col-lg-4 footer-box-style">
           <div class="footer-title-style">
             <h3 class="footer-title-style">Site map</h3>
           </div>
           <div class="footer-content-sitemap-style">
             <p><a href="#" style="color:#468fb3">News for our Website - sssasdqw</a></p>
             <p><a href="#" style="color:#468fb3">Read about our services</a></p>
             <p><a href="#" style="color:#468fb3">Our work samples</a></p>
             <p><a href="#" style="color:#468fb3">About page</a></p>
             <p><a href="#" style="color:#468fb3">Contact page</a></p>
           </div>
         </div>
         <div class="col-lg-4 footer-box-style">
           <div class="footer-title-style">
             <h3 class="footer-title-style">About us</h3>
           </div>
           <div class="footer-content-about-style">
             <h4>AJ Building Contractors</h4>
             <p>Here we can provide peace for your house and discover your building issues.</p>
             <a href="#"><img src="assets/img/icon/social/twitter.svg" width="24px" class="social-style" alt=""></a>
             <a href="#"><img src="assets/img/icon/social/facebook.svg" width="24px" class="social-style" alt=""></a>
             <a href="#"><img src="assets/img/icon/social/instagram.svg" width="24px" class="social-style" alt=""></a>
             <a href="#"><img src="assets/img/icon/social/linkedin.svg" width="24px" class="social-style" alt=""></a>

           </div>
         </div>
         <div class="col-lg-4 footer-box-style">
           <div class="footer-title-style"><h3 class="footer-title-style">Contact us</h3></div>
           <div class="footer-content-contacts-style">
                <p>Our experts are ready to deliver the solutions you need 365/24/7. Call or email us now.</p>
                <img class="footer-content-contacts-icons" src="assets/img/icon/Location.svg" width="24"  alt="">
               <p>Birmingham,UK</p>
               <img class="footer-content-contacts-icons" src="assets/img/icon/Phone.svg" width="24"  alt="">
               <p>+ 9 8 - 2 5 - 3 7 7 3 2 8 3 2</p>
               <img class="footer-content-contacts-icons" src="assets/img/icon/Email.svg" width="24"  alt="">
               <P>N a m e @ M a i l . c o m</P>
           </div>
         </div>
       </div>

     </div>
   </section>

<!--End of Footer -->
  <div class="last-content container-fluid">
     <div class="row">
       <div class="col-lg-12 last-box">
         <h5 class="last-logo-bold-style">Logotype</h5>
         <p class="last-logo-light-style"> copyrights © 2021 All right reserved | Website made by Vira</p>
       </div>
     </div>
   </div>

  </body>
</html>
