<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AJ Building Contractors LTD</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="assets/js/main/main.js"></script>

    <script>

    $(document).ready(function(){

        $("#ServicesImg1").fadeIn(300);
        $("#ServicesImg1").animate({left: '0px'});
        $("#ServicesImg2").fadeIn(300);
        $("#ServicesImg2").animate({right: '0px'});
        $("#ServicesImg3").fadeIn(300);
        $("#ServicesImg3").animate({left: '0px'});
        $("#ServicesImg4").fadeIn(300);
        $("#ServicesImg4").animate({right: '0px'});
    });

    </script>

  </head>
  <body>

<!-- Navbar Start-->
    <div class="NavbarStyle">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">AJ Contractors Building</a>
          <button class="navbar-toggler" type="button" name="button" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" style="margin-left:50px;">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" style="color:#b59972; font-weight: bold;" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Reviews</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
<!-- Navbar End-->

<!--Header Start-->
<div class="container-fluid Layout-Header-Image">

        <div class="row align-items-center">

          <div class="col-lg-1" style="margin:auto; width:auto;">
            <h1 class="Layout-Header-Text">Services</h1>
          </div>

        </div>

</div>
<!--Header End-->

<!-- Body Start -->

<div class="container Layout-Body-Style">

  <div class="row">
    <div class="col-lg-4 img-services-left" id="ServicesImg1">
      <img src="assets/img/services/construction.png"  style="width:100%;" alt="">
    </div>
    <div class="col-lg-8" style="padding:50px;">
      <h3 class="Title-Style">Construction</h3>
      <p class="Text-Style">Having signed the contract You can be sure, that project expenses will not change despite market fluctuations. To ensure this we can provide contract, payment or proposal guarantees signed by bank or insurance companies.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8" style="padding:50px;">
      <h3 class="Title-Style">Plumbing / Leaking</h3>
      <p class="Text-Style">Our main goal is to ensure our customers are provided with no stress emergency plumbing services.we are able to attend to all your emergency plumbing needs, whether it be day or night; and as fast as possible. We are always here to help.</p>
    </div>
    <div class="col-lg-4 img-services-right" id="ServicesImg2">
      <img src="assets/img/services/Drainge.png" style="width:100%;" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 img-services-left" id="ServicesImg3">
      <img src="assets/img/services/heating.png" style="width:100%;" alt="">
    </div>
    <div class="col-lg-8" style="padding:50px;">
      <h3 class="Title-Style">Heating / Gas</h3>
      <p class="Text-Style">ventilation and air conditioning systems are responsible for heating and cooling your home and includes products like furnaces, air conditioners, heat pumps as well as ductwork, thermostats and other home comfort controls. AJ Building Contractors will handle your house heating</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8" style="padding:50px;">
      <h3 class="Title-Style">Drainge</h3>
      <p class="Text-Style">Drainage is the artificial removal of water, both surface and sub-surface. Drainage is often a major element of civil engineering and construction projects and is necessary to avoid flooding and other damage. We can halp to drainge your building or office.</p>
    </div>
    <div class="col-lg-4 img-services-right" id="ServicesImg4">
      <img src="assets/img/services/Plumbing.png" style="width:100%;" alt="">
    </div>
  </div>

</div>

<!-- Body End -->

<!-- Footer -->
<section class="section-style-footer">
     <div class="container-fluid">

       <div class="row footer-row-style">
         <div class="col-lg-4 footer-box-style">
           <div class="footer-title-style">
             <h3 class="footer-title-style">Site map</h3>
           </div>
           <div class="footer-content-sitemap-style">
             <p><a href="#" style="color:#468fb3">News for our Website - sssasdqw</a></p>
             <p><a href="#" style="color:#468fb3">Read about our services</a></p>
             <p><a href="#" style="color:#468fb3">Our work samples</a></p>
             <p><a href="#" style="color:#468fb3">About page</a></p>
             <p><a href="#" style="color:#468fb3">Contact page</a></p>
           </div>
         </div>
         <div class="col-lg-4 footer-box-style">
           <div class="footer-title-style">
             <h3 class="footer-title-style">About us</h3>
           </div>
           <div class="footer-content-about-style">
             <h4>AJ Building Contractors</h4>
             <p>Here we can provide peace for your house and discover your building issues.</p>
             <a href="#"><img src="assets/img/icon/social/twitter.svg" width="24px" class="social-style" alt=""></a>
             <a href="#"><img src="assets/img/icon/social/facebook.svg" width="24px" class="social-style" alt=""></a>
             <a href="#"><img src="assets/img/icon/social/instagram.svg" width="24px" class="social-style" alt=""></a>
             <a href="#"><img src="assets/img/icon/social/linkedin.svg" width="24px" class="social-style" alt=""></a>

           </div>
         </div>
         <div class="col-lg-4 footer-box-style">
           <div class="footer-title-style"><h3 class="footer-title-style">Contact us</h3></div>
           <div class="footer-content-contacts-style">
                <p>Our experts are ready to deliver the solutions you need 365/24/7. Call or email us now.</p>
                <img class="footer-content-contacts-icons" src="assets/img/icon/Location.svg" width="24"  alt="">
               <p>Birmingham,UK</p>
               <img class="footer-content-contacts-icons" src="assets/img/icon/Phone.svg" width="24"  alt="">
               <p>+ 9 8 - 2 5 - 3 7 7 3 2 8 3 2</p>
               <img class="footer-content-contacts-icons" src="assets/img/icon/Email.svg" width="24"  alt="">
               <P>N a m e @ M a i l . c o m</P>
           </div>
         </div>
       </div>

     </div>
   </section>

<!--End of Footer -->
  <div class="last-content container-fluid">
     <div class="row">
       <div class="col-lg-12 last-box">
         <h5 class="last-logo-bold-style">Logotype</h5>
         <p class="last-logo-light-style"> copyrights © 2021 All right reserved | Website made by Vira</p>
       </div>
     </div>
   </div>

  </body>
</html>
