body
{
  margin: auto;
}
.SectionOne
{
  background-color: #b59972;
  height: 100vh;
}
.SectionTwo
{
  background-color: white;
  height: 100vh;
}
.SectionThree
{
  background-color: #b59972;
  height: 100vh;
}
.SectionFour
{
  background-color: white;
  height: 100vh;
}
.SectionFive
{
  background-color: #b59972;
  height: 100vh;
}
.SectionSix
{
  background-color: white;
  height: 100vh;
}
