body
{
  margin: auto;
}
.SectionOne
{
   background-color: white;
  height: 100vh;
}
.SectionTwo
{
  /* background-color: #b59972; */
  background-color: silver;
  height: 100vh;
}
.SectionThree
{
  background-color: white;
  height: 100vh;
}
.SectionFour
{
  background-color: #b59972;
  height: 100vh;
}
.SectionFive
{
  background-color: white;
  height: 100vh;
}
.SectionSix
{
  background-color: #b59972;
  height: 100vh;
}

.NavbarStyle
{
  position: absolute;
  z-index: 20;
}

.HeaderLeftColumnStyle
{
  width: 100%;
  height: 100%;
}

.HeaderVectorStyle
{
  width:80%;
  margin-right:20%;
}

.HeaderTitleStyle
{
  padding-top: 20%;
  padding-left: 20%;
  width: 80%;
  font-size: 70px;
  color: #b59972;
}

/* Section Two Style Start : */

.ServicesMainTitle
{

  color: #b59972;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 50px;

}

.ServicesSections
{

  background-color: pink;
  width: 200px !important;
  height: 500px !important;

}

.ServicesImg
{

}

/* Section Two Style End */
