body
{
  margin: auto;

}
.SectionOne
{
   background-color: white;
   height: 100vh;
}
.SectionTwo
{
  /* background-color: #b59972; */
  background-color: silver;
  height: 100vh;
}
.SectionThree
{
  background-color: white;
  height: 60vh;
  background-image: url('assets/img/empty-living-room-with-blue-sofa-plants-and-table-on-empty-white-wall-background-3d-rendering.jpg');
  background-position: bottom;
  background-size: cover;

}

.S3-Text-Column-Style
{
  padding: 10%;
}

.S3-Text-Title-Style
{
  font-size: 68px;
  font-weight: bold;
  color: #bcafa6;
}

.S3-Text-Style
{
  font-size: 42px;
  width: 500px;
  color: #7e7066;
}

.SectionFour {
    /*background-color: #b59972;*/
    height: auto;
}
.SectionFive
{
  background-color: #b59972;
  height: 100vh;
}


.NavbarStyle
{
  position: absolute;
  z-index: 20;
}

.S1-Right-Column-Style
{
  text-align: center;
  vertical-align: middle;
  margin: auto;
  margin: 0;
}

.S1-Vector-Style
{
  width: 90%;

}

.S1-Left-Column-Style
{
  text-align: left;
  height: auto;
}

.S1-Title-Style
{
  font-size: 70px;
  color: #b59972;
}

.S1-Text-Style
{
  font-size: 20px;
  color: #b59972;
}

/* Section Two Style Start : */

.ServicesMainTitle
{

  color: #b59972;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: : 50px;

}

.ServicesSections
{

  background-color: pink;
  width: 200px !important;
  height: 500px !important;

}

.ServicesImg
{

}
.card-Style
{

    width: 14rem !important;
    margin: auto!important;
    padding:0 !important;
    border: 3px solid #B59972 !important;
    border-radius: 5px !important;

}



.card-title-style
{
    padding-top: 5px;
    padding-left: 12px;
    color: #B59972;
}

.card-img-top-style
{

  padding: 1px;

}
/* Section Two Style End */
/* Section Three Style Start */

.SectionThreeStyle
{
  background-image: url('assets/img/empty-living-room-with-blue-sofa-plants-and-table-on-empty-white-wall-background-3d-rendering.jpg');
}

  .img-responsive
{
    display: block;
    max-width: 100%;
    height: auto;
}
.img-box
{
    position: relative;
}
    .img-box p {
        position: absolute;
        top: 60%;
        left: 7%;
        font-size:150%;
    }


.img-box h1
{
    position:absolute;
    top:50%;
    left:5%;

}

/* Section Three Style End */

/* Section four Style Start */
.contact-image-style
{

  background-image: url("assets/img/contact-image.jpg");
  background-color: #b59972;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ContactUsFormStyle
{
  height: 60px;


}

.ContactUsBtn
{
  float: center;
  margin: 0 auto!important;
  text-align: center;
  background-color: #B59972!important;
  color: white;
  width: 120px;
  height: 40px;
  margin-top: 25px!important;
  border: none;
  border-color: #B59972!important;
  border-radius: 4px;

}

.ContactUsInputStyle:hover
{
border-style: solid;
border-color: #00ff12 !important;
border-width: 1px;
}
.ContactUsBtn:hover,active,focus
{
  float: center;
  margin: 0 auto!important;
  text-align: center;
  background-color: #B59972!important;
  color: white;
  width: 120px;
  height: 40px;
  border-style: solid;
  margin-top: 25px!important;
  border-width: 1px;
  border-color: #00ff12 !important;
  border-radius: 4px;

}

/* Section four Style End */

/* Section six */

.SectionSix
{
  background-color: white;
  height: 60vh;
}

.S6-Left-List-Style
{
  margin: auto;
}

.S6-Title-Style
{
  margin-left: 20px;
  margin-bottom: 20px;
  color: #B59972;
}

.S6-Right-Inside-List-Style
{
  line-height: 0.5;
}

.S6-Right-Icons-Style
{
  float: left;
}

/* Section six */
