<!-- <form>
<div class="form-row align-items-center">
    <div>
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInput">Name</label>
          <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Firstname">
        </div>
        <div class="col-auto">

          <label class="sr-only" for="inlineFormInputGroup">Email address</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email address">
          </div>
        </div>

    </div>

    <div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">LastName</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Lastname">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Subject</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Subject">
    </div>


    </div>



    <div class="col-sm-5">
      <label class="sr-only" for="inlineFormInput">Message</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Message">
    </div>

    <div class="form-check">
      <button type="submit" class="btn btn-primary ">Send</button>
    </div>





</div>


</form> -->


<div class="col-md-6" style="background-color:#FEFEFE">
  <h1 style="text-align:center; color:#B59972;">  Contact us </h1>
  <form>
      <div class=" ">


              <div class="col-md-5 ContactUsFormStyle"style="float:left;" >
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2 " id="inlineFormInput" placeholder="Firstname">
              </div>
              <div class="col-md-5 ContactUsFormStyle"style="float:right;">

                <label class="sr-only" for="inlineFormInputGroup">Email address</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email address">
                </div>
              </div>




          <div class="col-md-5 ContactUsFormStyle" style="float:right;">
            <label class="sr-only" for="inlineFormInput" >LastName</label>
            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Lastname">
          </div>
          <div class="col-md-5 ContactUsFormStyle" style="float:left;">
            <label class="sr-only" for="inlineFormInput">Subject</label>
            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Subject">
          </div>






          <div class="col-md-12 ContactUsFormStyle "style="float:left;">
            <label class="sr-only" for="inlineFormInput">Message</label>
            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Message" style="height:200px;">
          </div>

          <div class="form-check " style="float:left;">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>





      </div>
  </form>
</div>
